.div {
    background-color: hotpink;
}

#calculator {
    width: 300px;
    margin: 0 auto;
    /* border: 1px solid #ccc; */
    border-radius: 10px;
    /* margin-right: 1??rem; */
    background-color: yellow;
    padding: 10px;
    /* text-align: center; */
}

.calc {
    /* border: 2px solid red; */
    text-align: center;
    color: red;
}

input[type="text"] {
    width: 280px;
    border: 2px red solid;
    background-color: hotpink;
    margin-bottom: 10px;
    color: aliceblue;
    margin-right: 0px;
    border-radius: 10px;
    padding: 5px;
    font-size: 18px;
    /* box-shadow: white 3px 14px 6px 0px; */
}

button:before {
    background-color: blue;
}

button:active {
    background-color: white;
    color: black;
}

button {
    width: 60px;
    height: 40px;
    font-size: 18px;
    margin: 5px;
    background-color: black;
    border-radius: 5px;
    color: white;
}